.sideBar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: whitesmoke;
    position: sticky;
    top: 50;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 30px;
    color: darkslateblue;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: cornflowerblue;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}